/* Utils */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Great+Vibes&family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comic+Neue&family=Great+Vibes&family=Passions+Conflict&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Navigation bar */

nav {
    
    display: flex;
    border-bottom: 2px white solid;
    height: 80px;
    width: 100%;
    background: black;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo a:hover{
    text-decoration: none;
    color: red;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    font-weight: 900;
}
nav .logo a{
    text-decoration: none;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    font-weight: 400;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: black;
    background: white;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

@media (max-width: 370px) {
    nav {
        padding: 0px 10px;
    }
}


/* Intro Section */

#intro {

    display: flex;
    z-index:-1;
    flex-direction: column;
    background-image: url(images/4.jfif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* position: absolute; */
    text-align: center;
    width: 100%;
    padding: 0 30px;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom: black 2px solid;
}


#intro-line {
    font-size: 2.2em;
    font-weight: 400;
}

#intro-name {
    font-weight: 800;
    font-size: 4em;
    text-transform: uppercase;
}

#intro-skills {
    font-size: 2.5em;
    font-weight: 600;
}

/* About Section */

#about{
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#about h1{
    font-size: 4rem;
    text-align: center;
}
.about-image:hover{
    background-image: url(images/dp.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 46vh;
    border-radius: 15%;
}
.about-image{
    background-image: url(images/dp2.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 46vh;
    border-radius: 15%;
}
#about p{
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-size: 1.5rem;
    line-height: 0.5 rem;
}
@media (max-width: 550px) {
    #about{
        height: 185vh;
    }
}